@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v5-latin-regular.woff2") format("woff2"),
       url("../fonts/dm-serif-display-v5-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v7-latin-regular.woff2") format("woff2"),
       url("../fonts/public-sans-v7-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v7-latin-700.woff2") format("woff2"),
       url("../fonts/public-sans-v7-latin-700.woff") format("woff");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  background-color: #edf3f8;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4 {
  font-family: "DM Serif Display", serif;
  margin-top: 0px;
  font-weight: 400;
}
