.site-footer {
    background-image: url("../../images/circle-bg.svg");
    background-size: 780px 780px;
    background-repeat: no-repeat;
    background-position: calc(50% + 710px) calc(50% + 220px);
    background-color: rgb(27, 38, 47);
}