.site-hero {
    display: flex;
    padding-top: 240px;
    padding-bottom: 152px;
    background-repeat: no-repeat;
    background-position: calc(50%) calc(50%);
    background-image: url("../../images/site-hero-bg.png");
    background-size: 780px 834px;

}
